body{
    font-family: 'open sans',sans-serif;
    background-color: black;
}
#container{
    width: 1000px;
    height: 5550px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0,0.3),url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIsA4QMBIgACEQEDEQH/xAAcAAEAAgIDAQAAAAAAAAAAAAAABgcBBQIDBAj/xABAEAABAwMBBQUDCgQFBQAAAAABAAIDBAURBhIhMUFRBxNhgZEUcaEVFiIyQlKxwdHhI1Ny8CQzYoKyQ3OSosL/xAAaAQEAAwEBAQAAAAAAAAAAAAAABAUGAwIB/8QAKBEAAgIBAwQDAAEFAAAAAAAAAAECAwQFERITITFBIlFhFBUjcYGx/9oADAMBAAIRAxEAPwCjVzDc8PNcF77TQS3O4QUkP1pHYJ+6OZXxvZbn2MXJpLySLQlh9vqBX1cZNNC76DTwkeP0VkYPMrpoqOGhpYqWnbiKJuGjr4ld6p77XZPf0bXBxFjVKPv2ERFxJoREQBcXPaxpc44aBkk8guS0GrK0w0raVhIfLvdj7v7r3XDnJROGTeqKnY/RpL3dH3Gf6G0ynb9RnXxPitahy3hw6lemlt9dWM26Ohq52c3RQOePUDCuoRUVsjD22ytm5yfdnmRcpGPie5kjHNe3cWubggrjlejmEQfuu2np56qTu6WCad+M7MUZccdcBAdOFsLPcpLbU7Qy6J+6RnUdR4rzVVJVUZ2aylnp3Hg2aMsJHUZXSfdv6LzKKktme6rJVTU4vZlkxysljbJG4OY4ZaRzC5qN6QrXPhkon/YG1H7uY/vqpIqa2vpycTb4mQsipWIIiLmSQiIgHlu8VBNf2EFnytSMwdwqGtH/ALKdrhJG2SN0cjQ5rgQ4HmOi602uuW5Fy8aORU4MoohcVuNS2l1oustNg91naid1aVp1cpprdGJnBwk4y8oIiL6eDOFY/Z1ahBRyXKRv8Sf6EWeTOZ88Y8lArfSvrK6GmiAL5Xho6K6aWnZS00VPDujiYGNHQBQ8uzjHj9lzo2N1LXY/Ef8Ap3IiKsNUEREAREQBQXUU5mvExzuYBGAeg/cqdKu7mS64VR5iZw+Km4S+TZSa5JqqMV7ZOOynRkF+qZrpdYhJQ052GREYEsnHf4AEe/I6K36+9WeyCKKvrqSiBH0GSPDN3gOij3Y9sfMWk2ANoTTbZHXbP5Y+CqHtANW7Wl39t2+89oIbtfy/sYzy2ccOqsjLl4am0zadW23ae2IzFn+HrYgC5nucOLeoXzrcKOa319RRVLdmenkMcg6Efkrn7EnVR0xVNn2jTCpIgyDjGyNrHhnoq+7VBH8+7kIyNwj2v6jG3KA1Gl7HNqO9U1sgcWCQkvkH2GD6x9+N3vIX0LR0Vk0lau7hEFBRsH0pJHAbR6ucd5KqrsP7n5yV3eY732Q7A/3jOPgtj27uq2yWgZcKHEh5hvebsZ5Zxw80BYzZ7Jqigkijlo7nSk4e0OEgB/EHofRUT2g6V+a18EMJc6hqW97TPdvLd+9pPhu8iFsexx1UNZxtpjIYTA/2nBOzsAbsj+rGPepX27iH5KtTnY74VDw3J+zsZd8Q1AVXYpzBd6ZwO5z9jyKnyrelJFbAW7iJG/iFZCrc1fJM0uhzbrlH9CIihF8EREAQoiAjmurULjZnTsGailBe3qW/aHpv8lVWN2Ve7gDnIBB3EHpzCpvUVv8Ak28VVNv2A7aj8WneFZYVm6cGZrWsbjJWr35NUiIppQkw7OaET3eSqf8AVp4zj+p278NpWUor2dUwhsb58DammJ8huH5qVKoypcrH+Gx0qrp4y/e4REUcsgiIgCIiAKtqh+3PM/7zi71OVYNfKIaGplP2WEj0wPiq7HAZ481YYMfLM7rs+8IE+7K9YxWCqltdycY6CqdtMkzkQycPQ7snkQFbtysNjvxhnr6GmrC0fw5S3a3dA4cR4L5k6jl4FeqkudyombFFca2mYeLaepfGD5AqeZ4+iNQX+0aPtOZe6iLG4p6SIBrnno1vIdSvnW41s9yr6iuqTtTVErpHkdSeHlwXVNLLPK6WeR8sjvrPkcXE+/PFSPS+k4rzCKuvvFvttFtFmZ5W947HQEgepQGu0tfJtPXmmucLdsxEtkZw7xh4t/vovoSlqrJq60h7GwVtHIATG9oJYfEcWlUfqfSEFqp5ay1Xy3XOkaQHd3M3vGDxAJB9VG6aoqKSUy0lTPTyb/pwyFjvUID6WprfY9MUE0tPT0lvpQNuZ+A0HxceJ81RvaLqpup702SmDm0NM10dOHDBdnG24jxIG7oAo9WV1bXEe3V1VV44e0TOkx7toleffv3nPvQGY3bEjH/dcCrKBBAI4FVnhWFa5hPbaeUH60Y49eagZq7Jl/oU/lOJ60RFXmkCIiAIiIAoH2mUIxSVzRv3xPPxb/8ASni0es6UVWnqsAAmNokbnw/bK7Y8+NiZC1Grq40l/sqJYXJFc7GJLk0zAILBb4wMZha7zO/81tF00rBHSQMbuDY2tHkMLuVFN7ybN9TDhXGP0giIvJ1CIiAIic0BpNWT9zbO5BwZngeQ3/p6qHLc6qqhPX90DlsDdk468T/fgtMrfGhxrRjNUu6uS9vC7BEWWNdI8MYxznk4DWjJJ8BzUgrzAORlWN2Va1ZaZWWO5vayhlcTBNwELyc4d4OOd54E+O7WWXsy1HdA2SaCOghPOqyHeTBk+uFKqfsYh2f8Ve5SefdQAD4koDx9qut46oSWG0SMfFke1VDSCHH7jfzPkquVu1HYxD3ezS3uVpxu7ynBHwIUUvfZnqO1tdJTwR18Q+1S52vNhwfTKAhqLLw6NzmyNcxzThzXDBaehHJYQBS/SVR3lvkg/lSH0P75UQW20xVCmuQY52I5xsefL4/iuGRDlWyfpt3SyYt+H2JsicyByRU5tAiIgCIiALpqohUU0sJ4SMczf4jC7kX1PZ7nmceSaKK9nl+4VlWR8ks/kBFZ/wApGX/pTJXjGAOAACyuELtuFp+8Mj0yuaqzUp7oIiIfQiIgBXluda230kkxwXNGGDq5enIAySAOpUIv1y+UKnZiOaaI4aep6rvRU7JfhA1DLWPV+vwax7nPkL3nLnHLvFYRcmsc9wZG0vkcQ1rG8XE8APPcrhdjGN7vdntslorL5c47fbou8nfv/wBLWji4nkB/fFX3o3Q1t0xCHsAqa9w/iVT27/c0fZCdn2lY9MWdscjWmvnAfUyDfv8AuA9B8eKlaHw4gbsFckRAFjG7CyiAi2r9EWvU8TnTMFPW4+hVRN+l/uH2gqG1DY6/T1wfRXOLYkADmuG9sjTzaeYX1Eo5rXS8Gp7Q6mfsR1UeXUsxH+W79DwP7BAfNuUG4ggkEcMclzqaeWlqZaaoYY54nlkkbuLSDgrggJ9ZrgLjQsk3CQYbIOh/de5QKzXB1uqtsgmJ42ZGjiR196nbHtka17HBzXDaDhwI6qoyKuEvw2Om5ivq7+UckRFHLIIiIAiIgOvuY/uotZ8p+9ZXvgzj1qz02Wb2i0UUv3oGH4L2qPaFqO/03TjOTE50Z9cj4EKQpbHjNo84s+dMZfgREXgkBYz0WVodQS3KST2Whgk7pwBfKwcc8sr3XDm9jhkXdGHLbc8Wo7z3u3RUbzsg4ke3n4DwUeIyTnG5bqm0zXy4MuxC3O/Ls/hleO8W8WypbCJDJmMP2tnHEkEYVpS64/CDMnlxybN7rVsjwqddj1lbctTurZWbcVujEm/nIchv5nyCgqu/sRou40vU1Lt76mrdg89lrQ0D1DvVSCvLE2ccFyREAREQBERAFgrKICkO2qytob1T3WFmI69hZJjlK0Df5tx/4quVfXbJRtqdFSzkZdSTxSt83bB+D1QqAwM/HC32nb17KRS1TsQE/Qdx7s/otdaaL5RqhA6TYy0naDc8PBe2p0zWxjMJZM3q12CfVcLnXJcJE/Ehkw/vVLdEyBz+qyo5p99yp520lVTSGA/af/0vPopGquyHB7bmsxr+tDltswiIuZICw5wawuPADJWVrdR1HstirZs4xEQPedw/FeoLeSRzulwrcvpFa/OCfqi0eAiuemjF/wAuwnfZlWBstZQOd9bZlaD4bj+IU9VO6brvk29UtQf8vb2X/wBJ3FXECDvByMZyoGZDae/2aDRrudHB+UERFDLgJy80RAOfUKKayjLainkPB0Zbu8D+6la0mq6cy21sgGTA4H/ac5/L0XfGlxsRX6nW540kv8kOyvoHsix8xKPGMiSXPv7xy+fVeXYlWio0pNSkjNNVPGP9LgHD4l3orgxhYiIiAIiIAiIgCIiAi3abj5i3fPDuh/zavnNX52xVQp9ETxbWH1U8UTR1w4Px6MKoPKA3uj4i64SSfZZER5kj9CpfywVodIwGOilncP8ANdu9w/fK3yqMmXKxmy0qvhjR399zByXbXNZRFHLEIiIAVEe0isENohpGu+lUSZcP9I3/AIkeilzjgZVV67uArb9Ixjsx0wEbemefx/BScSHKzf6KvVrunjte32I1lFhFbGQOQcAOatrRtz+UrJGXOzNB/CeOZx9U+n4FVGpFo67/ACVd49t2KebDJfDofIrhkV9SH6WGm5PQvTfh9mWwibs4Bz7kVObMIiIAuuaJs0MkMgyx7S0+5diInsfJJNbMriqgfTVEkEow+N2yenvU67GryLfqSW3SuAiuEYa09JG5LfUF3wWr1XbTNEKyFpL4xiUDm3r5KLRSPgkbLBIWSseHse3i0g5BHorqmznHcxGbjPHtcfXo+ssrKjehtUQanszKkOa2qjAZUxDcWO6+48lI854b11IhlERAEREAWMpnqtJq7UVJpqzy11UWuf8AVhi5yv5D8z0CArDtuvbaq60tnhdltI0yy/8AccN3o3/kq4hhfPMyGMZe84AXOuqqiurJqusk7yed7pXuPNxOT7lI9K2wsZ7dUNIe4bMWeQPErlbYq47krDxnkWqC8eze0sDaamjhj3CNoaPJdyIqVvd7m4jFRWyCIiH0IiE78c0Br77cW2q11FUSC9rcMB5vI3KmpHl7y95Jc45JPMqV9oF39suHsEDswUp+kRwL+fpw9VECVbY1fCHfyzH6rk9a7ivEexhERSSsC5bQXFEBaGhb78oUQoql2aqnaNk83s/ZSrPFUraJ5aa508sDyx4kbgjxV05IOBzwqvLqUJbr2azScqVtXCXmJlERRC3CIiAxgYAO/dg55qI6gsjqVzqmlZmA73N/ln9FL1ggbTQRkHcQea61Wyre6ImXiQyYcZefRCNN36u05c47hbn4cBsyRu+pIzmD+IPJX9pLV1t1PS5o3mOpY0GWmkOHs/UdCvn7UMEdNdTHAwMYd5aOC19LNLT7NRTyvhmjeSySNxa5pHAgjgriEuS3MZdU6puDPrPITKhnZddq+8aYjqblUOqJwPruAB+AUz54Xo5DKbQRRXtIulbZ9Lz1dtnME7RueGgkeoQHu1Rqi26aojPXyjvHDMUDd75T4Dp4qgdV6mrtT3I1ladhjQRDA12WxN6A8zzJ5+QWnraypq6j2iqnknnkDXOkldtuJ953r36egjqbrFHOwPZjOyeGV5lLitzpTW7bFBez1WCyOq3tnqgRTDe1p+3+ymAaB4eA4YWABwAwOGAuSp7rXY+5tMPDhjQ4x8/YREXIlhERAFotWXttmtxMZBqpgWxj7vVy3hVR6vnln1BWd88u2H7Dc8mjgFJxalZLd+is1TKlRT8fLNM55eSXEkneSV1rKwrYx4REQH//2Q=="));
    margin: 20px auto;

}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0,0.19);
}

#result{
    height: 120px;
}


#keyboard{
    height: 400px;
}
.operator,.number,.empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number,.empty{
    background-color: #eaedef;

}


.number,.operator{
    cursor:pointer;
}
.operator:active,.number:active{
    font-size: 13px;
}

.operator:focus, .number:focus , .empty:focus{
    outline: 0;
}


#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 20px;
    margin:0px 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;

}

#output{
        text-align: right;
        height: 60px;
        margin: 10px 20px;
        font-size: 30px;
}


button:nth-child(4){
    font-size: 20px;
    background-color: #22b2aa;
}

button:nth-child(8){
    font-size: 20px;
    background-color: #4fa500;

}


button:nth-child(12){
    font-size: 20px;
    background-color: #fa8080;
}


button:nth-child(16){
    font-size: 20px;
    background-color: #7d93e0;

}

button:nth-child(20){
    font-size: 20px;
    background-color: #8477af;

}



