.staticdiv{
    position: static;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10x;
    border: 5px solid black;
    color: white;
    font-size: 15px;
}
.relativediv{
    position: relative;
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid black;
    color: white;
    font-size: 5px;

}
.fixeddiv{
    position: fixed;
    background-color: gray;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid black;
    color:white
    top: 100px
    left: 100px
}
.absolute div{
    position: absolute;
    background-color: yellow;
    width: 100px;
height: 100px;
margin: 10px;
border: 5px solid black;
font-size: small;
color: antiquewhite;
}
.stickydiv{
    position: sticky;
    background-color: orange;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid black;
    color: white;
    font-size: 15px;
    top: 0px;
    left: 50px;
}
.opacitydiv{
    background-color: aqua;
    width: 100px;
    height: 50px;
    margin: 10px;
    color: white;
    opacity: 0.1;  

}
.opacitydiv2{
background-color: aqua;
    width: 100px;
    height: 50px;
    margin: 10px;
    color: white;
    opacity: 0.2;  
}
.opacitydiv3{
background-color: aqua;
    width: 100px;
    height: 50px;
    margin: 10px;
    color: white;
    opacity: 0.3;  
}


